*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(6, 98, 236);
}

#entrada{
    width: 400px;
    height: 25px;
    text-align: center;
}

.caixa{
    color: white;
    background-color: rgb(6, 98, 236);
    padding: 10px;
    border: none;
    border-radius: 15px;
}

.caixa:hover{
    color: white;
    background-color: rgb(119, 164, 233);
}

#container {
    width: 500px;
    padding: 100px;
    background-color: white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: 5px;
    line-height: 50px;
    
}
.centro {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    
}
h1{
    padding-bottom: 10px;
}
p{
    padding-top: 10px;
}

.dados{
    display: inline-block;
    width: 300px;
    text-align: left;
}
.imagem{
    width: 20px;
    height: 20px;
}